html, body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.footer {
  margin-top: auto;
  width: 100%;
  color: black;
  text-align: center;
  padding: 10px;
}
.footerLinks {
  margin: auto;
  padding: 0;
  padding-top: 10px;
  list-style: none;
}
.footerLinks li {
  display: inline;
  margin-right: 20px;
}
.footerLinks li:last-child {
  margin-right: 0;
}
.footerLinks a {
  color: black;
  text-decoration: none;
}
